.App {
  text-align: center;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bliss {
 
  font-size: clamp(6rem, 5vw, 4rem);
  color:black;
  max-width: 50px;
}
.flavor{
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: #176107;
  font-size: 40px;
  max-width: 600px;
}
.fresh
{
  font-size: clamp(3rem, 3vw, 2.5rem);
  color:#061b46;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: rgb(19, 99, 50);
  margin: 1.5rem 0rem;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  text-align:right;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: #fe0dd6;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.que{
  font-size: clamp(3rem, 3vw, 1.5rem);
  color:#022c3e
}
.help{
  color:#427503
}
.contact-page-wrapper {
  background-image:url("/public/contact.jpg");
  background-size:cover; /* Adjust the image size as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  width: 100%; /* Ensure the container covers the entire width */
  height: 80vh;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
 background-color: white ;
  
  display: flex;
}

.footer-icons {
  margin-top: 2.7rem;
  text-align: center;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color:#43AA72;
  
  
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.5rem 0rem;
  font-weight: 600;
  color: #43AA72;
  cursor: pointer;
}

.menu{
  background-image:url("/public/about.jpg") ;
  background-size: cover; /* Adjust the image size as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  width: 100%; /* Ensure the container covers the entire width */
  height: 100vh;
  z-index: -2;
  text-align: center;
  font-size: 21px;
  
}